<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/fondo.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/estilosDP.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>About Me</title>
</head>
<body>

    {{>fondo}}


    <!-- <video src="../new/Network_R.mp4" class="video"  autoplay="true" muted="true" loop="true"></video> -->
    
        <!-- <span class="material-symbols-outlined iconmenu">
            menu
            </span> -->


      
      {{>menu}}



       
    <div class="aboutTitle">
        <h1>About Me</h1>
    </div>
       <div class="intro">
        <div class="imgGabriel">
            <img src="../img/imgGabriel.jpg" alt="">
        </div>
        <div class="informacion">
                <h2>Gabriel Isaac Encarnacion Guerrero</h2>
                <h3>Desarrolador de software</h3>
            <p>Tengo una gran motivación para seguir mejorando habilidades y crecer profesionalmente. Confío plenamente en mi capacidad para dar lo mejor de mi.
        </p>
        <h3>Educacion</h3>
        <p>
            Instituto tecnologico de las americas(ITLA)<br>
            2021 agosto - cursando
        </p>
       </div>
       </div>

        {{>footer}}

    <script src="../js/menuCentral.js"></script>  
    <script src="../src/node"></script>
</body>
</html>