<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleForm.CSS">
    <title>Document</title>
</head>
<body>

    <div class="contentGeneral">

        <form class="formulario">
            <h2>Formulario</h2>
            <input type="text" name="nombre" class="nombre"  placeholder="Nombre" minlength="1">
            <input type="text" name="apellido" class="apellido" placeholder="Apellido" minlength="1">
            <input type="number" name="matricula" class="matricula" placeholder="Matricula" maxlength="8" minlength="8">
            <input type="number" name="promedio" class="promedio" placeholder="Promedio" min="0" max="100">
            <input type="submit" class="bt-enviar" value="Enviar">
    
        </form>
    
    
        <div class="content1" >
    
            <table class="table1">
    
                <h1 class="cabezaT">Estudiante</h1>
                
                <th class="nombre" name = "nombre">Nombre</th>
                <th class="apellido" name = "apellido">Apellido</th>
                <th class="matricula" name = "matricula">Matricula</th>
                <th class="promedio" name = "promedio">Promedio</th>
                <th>Acci칩n </th>
                <th>Edit</th>
                
                <tbody class="tbody">
                    

                
                
        </table>

        <div class="caja-prom"><h2 class="h2Prom"></h2></div>
                </tbody>
            </div>

    </div>


    
    

    <script src="../js/formulario.js"></script>
    
</body>

<!-- 
<div id="tabla1">
    <form action="https://www.aprenderaprogramar.com" method="get">
        <table>
            <caption>Contenido nutricional por cada 100g de alimento.</caption>
            <tr>
                <th>Alimento</th><th>Calorias<br/>(kCal)</th><th>Grasas<br/>(g)</th><th>Proteina<br/>(g)</th><th>Carbohidratos<br/>(g)</th><th>Opciones</th>
            </tr>
            <tr>
                <td>Ar치ndano</td><td>49</td><td>0.2</td><td>0.4</td><td>12.7</td><td class="editar" onclick="editarFila(1)">Editar</td>
            </tr>
            <tr>
                <td>Pl치tano</td><td>90</td><td>0.3</td><td>1.0</td><td>23.5</td><td class="editar" onclick="editarFila(2)">Editar</td>
            </tr>
            <tr>
                <td>Cereza</td><td>46</td><td>0.4</td><td>0.9</td><td>10.9</td><td class="editar" onclick="editarFila(3)">Editar</td>
            </tr>
            <tr>
                <td>Fresa</td><td>37</td><td>0.5</td><td>0.8</td><td>8.3</td><td class="editar" onclick="editarFila(4)">Editar</td>
            </tr>
        </table><br/>
        <div id="botonesForm"></div>
    </form>
    </div>

    <script src="./formulario.js"></script>
</body> -->



<!-- 
</html>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="STYLE.CSS">
    <title>Document</title>
</head>
<body>

    <div class="contentGeneral">

        <form class="formulario">
            <h2>Formulario</h2>
            <input type="text" name="nombre" class="nombre"  placeholder="Nombre" minlength="1">
            <input type="text" name="apellido" class="apellido" placeholder="Apellido" minlength="1">
            <input type="number" name="matricula" class="matricula" placeholder="Matricula" maxlength="8" minlength="8">
            <input type="number" name="promedio" class="promedio" placeholder="Promedio" min="0" max="100">
            <input type="submit" class="bt-enviar" value="Enviar">
    
        </form>
    
    
        <div class="content1" >
    
            <table class="table1">
    
                <head class="cabezaT">Estudiante</head>
                
                <th class="nombre" name = "nombre">Nombre</th>
                <th class="apellido" name = "apellido">Apellido</th>
                <th class="matricula" name = "matricula">Matricula</th>
                <th class="promedio" name = "promedio">Promedio</th>
                <th>Acci칩n </th>
                <th>Edit</th>
            
                
        </table>
    
    <button class="totalPromedio">Calcular Promedio</button>
        </div>

    </div>


    
    

    <script src="formulario.js"></script>
    
</body> -->












