<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Taviraj:ital,wght@1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styleLoteria.css">
    <title>loteca te toca</title>
</head>
<body>
    <!-- <img src="https://www.altonivel.com.mx/wp-content/uploads/2020/01/loteria-nacional.jpg" alt="" class="fondo"> -->
    
    <div class="contentGeneral">
        <div class="contenedor">
            <h1>Loteria Nacional</h1>
            <div class="contenedor2">
                <div class="contentText">
                    <div class="display"></div> 
                </div>
                
                <button class="boton" >Obtener resultados</button>
            </div>
        </div>
    </div>
    

    




    <script src="../js/loteriaNC.js"></script>
</body>
</html>