<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeDeck</title>
    <link rel="stylesheet" href="../css/stylePokeDeck.css">
</head>
<body>
    
    <div class="div"></div>


    <div class="content-1">
        <div class="caja-form">
            <form class="formulario">
                <h1>Poke-Deck</h1>
            <ul id="pokemones"></ul>
                <label for="nombre">Nombre del Pokemon: </label>
                <input type="text" id="nombre" class="inputs" name="nombre"><br>
                <button type="submit" class="search">Buscar</button> 
            </form>
        </div>
    </div>


    <script src="../js/appPokeDeck.js"></script>
</body>
</html>