<header class="header" id="inicio">

<img src="../icons/iconMenu.svg" alt="" class="hamburguer">

<nav class="menu-navegacion">
    <a href="/">Inicio</a>
    <a href="/aboutMe">Datos Personales</a>
</nav>

</header>















{{!-- <div class="barra">
            
            <a href="/" class="titulo"><h1 >{{title}}</h1></a>
            <nav class="menu">
                <div class="seccionesA">
                    <a href="/">Inicio</a>
                    <a href="/aboutMe">Datos Personales</a>
                    
                </div>
                
            </nav>
        </div> --}}